#list {
  display: grid;
  padding-top: 53px;
  margin-left: 5px;
  margin-right: 5px;
  align-content: space-around;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5px 5px;
}

#box {
  padding: 5px;
}

#listbutton {
  height: 220px;
  width: 116px;
  justify-self: stretch;
  padding: 5px;
  background-color: transparent;
}
