body {
  height: 500px;
  width: 370px;
  margin: 0px;
  font-family: "Amatic SC", cursive;
}

#main {
  margin: 0px;
  padding: 0px;
  font-size: 30px;
  color: #000;
  text-align: center;
  text-decoration: none;
}

#todo-nav {
  display: float;
  float: right;
  width: 350px;
  height: 500px;
  position: relative;
  z-index: 1;
}
#title {
  display: flex;
  font-size: 40px;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

#form {
  position: relative;
  display: none;
  justify-content: center;
}

#editTitle {
  border: 0;
  width: 100px;
  text-align: center;
  font-size: 15px;
  outline: 0;
  border-bottom: 1px solid black;
}
#navbar {
  float: left;
  transition: bottom ease-out 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 2;
  /* float: left;
  text-align: center;
  text-decoration: none;
  display: inline-block; */
}
#navbar a {
  color: #000;
  text-decoration: none;
}

#list-nav {
  display: flex;
  background: #b1b8e9 !important;
  flex-direction: column;
  border: 1px solid #ccc;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
}
#dropdown1 {
  width: 200px;
  display: none;
  list-style-type: none;
  margin: 0px;
  padding: 4px;
  cursor: pointer;
  flex-direction: column;
}
#navbar-link {
  margin-left: 0px;
  padding: 3px;
}
#navbar-link:hover {
  background: #ddd;
  transition: all 0.5s;
}
/* #list-title {
  margin-left: auto;
} 
 #navbar-link {
  padding-right: 8px;

  display: none;
}
#navbar-link-toggle {
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
  transition-delay: 0.3s;

  align-self: flex-start;
  display: initial;
  cursor: pointer;
  width: 100px;
  flex-direction: column;
} */
#formInput {
  margin-left: 15px;
  text-align: left;
}
#todoinput {
  border: 0;
  width: 300px;
  font-family: "Amatic SC", cursive;
  font-size: 25px;
  outline: 0;
  border-bottom: 1px solid black;
}
#todo {
  text-align: left;
  margin-left: 15px;
  height: 30px;
  font-size: 20px;
}
#todoentry {
  font-size: 35px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  height: 40px;
}
#click {
  visibility: hidden;
}

#edit {
  display: none;
  float: left;
}
#editpic {
  width: 30px;
  height: 30px;
}
#container {
  position: absolute;
  top: 40px;
  right: 0px;
}

#deletelist {
  display: inline-block;
}
#deletelistpic {
  width: 20px;
  height: 20px;
}
