body {
  height: 500px;
  width: 370px;
  margin: 0px;
  font-family: "Fjalla One", sans-serif;
}

#main {
  display: float;
  margin: 0px;
  padding: 0px;
  font-size: 40px;
  color: #000;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
}

#todo-nav {
  float: left;
  width: 300px;
  position: fixed;
  text-align: center;
}

#navbar {
  float: right;
  width: 70px;

  /* float: left;
  text-align: center;
  text-decoration: none;
  display: inline-block; */
}
#navbar a {
  color: #000;
  text-decoration: none;
}

#navbar a:hover {
  color: #ddd;
}

#list-nav {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ccc;
  height: 500px;
}
/* #list-title {
  margin-left: auto;
} */
#navbar-link {
  padding-right: 8px;

  display: none;
}
#navbar-link-toggle {
  position: relative;
  /* transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
  transition-delay: 0.3s; */

  align-self: flex-end;
  display: initial;
  cursor: pointer;
  width: 200px;
  flex-direction: column;
}
#formInput {
  margin-left: 15px;
  text-align: left;
}
#todoinput {
  border: 0;
  width: 300px;
  font-size: 15px;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}
#todo {
  text-align: left;
  margin-left: 15px;
  height: 30px;
}
#todoentry {
  padding: 10px;
  font-size: 15px;
  list-style-type: none;
  height: 40px;
}
#click {
  visibility: hidden;
}
